@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=STIX+Two+Math&display=swap');
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}
*{
  margin:0;padding:0;
}
body {
  min-height: 100vh;
  width: 100vw;
}
#particle-js{
  position:absolute;
  top:0;
  height:200vh;
  width: 100vw;
  background: linear-gradient(#274,#47b);
  
}
.main1{
  position:absolute;
  display: grid;
  place-items: center;
  height: 100vh;
  z-index:2;
  width:100vw;
}
.portfolio {
  text-align: center;
}
.name {
  font-family: 'Tourney', cursive;
  font-size: 4em;
  color: white;
  line-height:0.8;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px green;
}
.about {
  text-shadow: 1px 1px 0px green;
  font-family: 'STIX Two Math', serif;
  font-size: 3vmax;
  color: white;
  letter-spacing: 0px;
  margin: 0;
  margin-top: 5vmax;
}
.social-media {
  margin-top: 10px;
  font-size: 1.7em;
}
.social-media a,.social-media a:visited {
  width: 25%;
  margin: 10px;
  text-decoration: none;
  color: white;
}
.fa-angle-down{
  font-size:4em;
  color:#ddd;
  animation: fa-angle-down 3s ease-in-out infinite;
  font-style:none;
  text-decoration: none;
}
@keyframes fa-angle-down{
  0%,30%,50%{
    transform:translatey(0px);
  }
  20%,40%{
    transform: translatey(-10px);
  }
  100%{
    transform: translatey(0px);
  }
}





.main2{
  position:absolute;
  top:100vh;
  height:100vh;
  background:linear-gradient(#2a96,#48b6, transparent);
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.main2 .profile{
  background:#fff2;
  padding:3vmax;
}
.main2 .dp{
  width:30%;
  height:auto;
  border-radius:50%;
  margin:0 auto;
  box-shadow:2px 2px 19px 0px #000;
}
.about-me{
  font-size:3vmax;
  text-align: justify;
  width:85%;
  margin:0 auto;
  color:white;
}





.main3{
  position:absolute;
  top:200vh;
  height:auto;
  background:linear-gradient(#2a96,#48b6, transparent);
  width:100vw;
  text-align:center;
  background:#fff;
}
.project{
    height:auto;
    width:80vw;
    text-align:center;
    box-shadow:0 0 20px 3px #666;
    padding:10px 5px;
    margin:30px auto;
    border-radius:0.5vmax;
}
.project h3{
  font-size:4vmax;
}
.project img{
    width:100%;
}
.project p{
    text-align:center;
    padding:0 15px;
}
.project button{
    margin-top:10px;
    outline:none;
    border:none;
    background:#fff;
    box-shadow:0 0 3px 0px #000;
    border-radius:20px;
    padding:5px 15px;
    text-transform:uppercase;
    font-weight:bolder;
    transition:200ms;
    color:#000;
    font-size:1.3em;
}
.project button:active{
    background:#42f;
    border-radius:30px;
    color:white;
    box-shadow:none;
    transform:scale(0.9);
}
.footer{
  font-size:3vmax;
  color:#fff;
  text-align:center;
  widows:100%;
  background:#000;
}


:root{
    --margin:2vh;
}
.menu{
    position:fixed;
    top:var(--margin);
    left:0;
    transition:400ms;
    overflow-x:visible;
    font-size:10vmin;
    z-index:10;
    padding:2vh 0;
}
.menu .fas{
    position:fixed;
    top:0;
    left:0;
    color:red;
    padding:10px;
}
.menu .options a{
    transform:rotatez(0deg) translateX(-200px);
    transform-origin:150% 150%;
    transition:1s;
    opacity:0;
    color:#fff;
    text-decoration:none;
    display: block;
    width:0;
}

.menu:hover{
    transform:scale(1);
}
.menu:hover .options a{
    height:auto;
    transform:rotateZ(0);
    font-weight:700;
    background:linear-gradient(#37d);
    margin:5px 0;
    border-radius:20px;
    padding:4px 30px;
    opacity:1;
    font-size:8vmin;
    width:100%;
}
.menu .options a:hover{
  background:linear-gradient(to right,#92d,#fff);
}



/*CONTACT FORM*/
.form{
    width:80%;
    text-align:center;
    position:relative;
    padding:5vmax;
    background:#fff;
    border-radius:5px;
    max-width:600px;
    box-shadow:0 0 40px -10px #000;
    margin:30vw auto;
}
.form h1{
    color:#000;
    text-shadow:1px 1px 0px #000;
    font-family: 'STIX Two Math', serif;
}
.form .inp-box,.txt-area{
    font-size:1em;
    width:100%;
    border-radius:5px;
    border:none;
    box-shadow:0 0 0px 1px #aaa;
    margin-top:20px;
    outline:none;
    padding:6px 10px;
    background:#eee;
    color:blue;
    transition:300ms;
}
.form .inp-box:focus,.txt-area:focus{
    box-shadow:0 0 10px 2px #fff;
}
.txt-area{
    width:95%;
    padding-top:20px;
}
.submit{
    outline:none;
    border:none;
    width:90%;
    padding:10px 0;
    border-radius:29px;
    background:#f94;
    margin:2vmax;
    transition:300ms;
}
.submit:active{
    transform:scale(0.7);
}